//TODO: theme revisit https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
$brand-primary-lighter:			#D95B61 !default;
$brand-primary:							#D21A23 !default;
$brand-primary-darker:			#9E131A !default;
$brand-info-lighter:				#5CA3FA !default;
$brand-info:								#4172AE !default;
$brand-info-darker:					#2D507A !default;
$brand-success-lighter:			#6DFC71 !default;
$brand-success:							#4CAF50 !default;
$brand-success-darker:			#367D38 !default;
$brand-warning-lighter:			#FFB84D !default;
$brand-warning:							#ff9800 !default;
$brand-warning-darker:			#CC7A00 !default;
$brand-danger-lighter:			#666666 !default;
$brand-danger:							#333333 !default;
$brand-danger-darker:				#000000 !default;
$brand-rose-lighter:				#D95B61 !default;
$brand-rose:								#D21A23 !default;
$brand-rose-darker:					#9E131A !default;
