<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="http://example.com" target="_blank">
                        Post Example
                    </a>
                </li>
                <li>
                    <a href="http://example.com" target="_blank">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://example.com" target="_blank">
                        News
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}
            <a href="http://example.com" target="_blank">Post Example</a>
        </div>
    </div>
</footer>
